<p>
  <%= orientation %> ovary.<br />
  Length <%= ovary.length %> мм.<br />

  Formations:<br />
  <% ovary.formations.each do |formation| %>
    &bull; Size <%= formation.size %> mm<br />
    <% formation.chambers.each do |chamber| %>
      &#9;&#9; Chamber size <%= chamber.size %><br />
    <% end %>
  <% end %>
</p>